.container {
	font-size: 16px;
	font-family: Ultra; 
	font-family: Viga;
	max-height: 800px;
}
.division {
	width: 100%;
	float: left;
}
.box {
	height: 500px;
	width: 100%;
	display: inline-block
}
.textwrapper {
	text-indent: 20px;
	text-align: justify;
	max-height: 200px
}
.footer {
	height: 150px;
	width: 100%;
	border-top: 1px solid gray;
	background-color: #f0f0f0;
}
.boximg1 {
	height: 100px;
	width: 100px;
	border: 1px solid black;

}
.division2 {
	width: 100%;
	padding: 10px;
	float: left
}
.wrapper {
	height: 550px;
	opacity: 0.8;
	background-color: #004d80;
	padding: 50px;
	padding-top: 150px;
	color: #ffffe6;
	font-family: Ultra;
	
}
.wrapper2 {
	height: 500px;
	opacity: 0.8;
	margin: 0px;
	padding: 0px;
}
.wrapper3 {
	height: 550px;
	background-color: #ffffe6;
	padding: 50px;
	margin: 0px;
	color: #004d80;
	padding-top: 160px;
	font-family: 'Fredoka One', cursive;
	font-size: 20px
}
.wrapper4 {
	height: 238.5px;
	opacity: 0.8;
	background-color: #004d80;
	font-family: Indie Flower;
	text-align: center;
	padding-top: 80px;
	color: #ffffe6;
	letter-spacing: 3px
}
.wrapper5 {
	padding: 0px;
	margin: 0px;
	opacity: 0.8;
}
.wrapper6 {
	height: 400px;
	background-color: #ffffe6;
	padding: 80px 20px;
	margin: 0px;
	font-size: 36px; 
	line-height: 54px;
	font-family: Sigmar One;
}
.wrapper7 {
	height: 400px;
	opacity: 0.8;
	padding: 0px;
	margin: 0px;
	float: left
}
.wrapper8 {
	height: 400px;
	background-color: #004d80;
	padding: 50px;
	margin: 0px;
	float: left;
	font-family: Charm;
	font-size: 25px;
	color: #ffffe6; 
	line-height: 44px;
	text-align: justify

}
.wrapper9 {
	height: 100px;
	background-color: #004d80;
	padding: 50px;
	margin: 0px;
	float: left
}
.wrapper10 {
	height: 200px;
	opacity: 0.8;
	padding: 0px;
	margin: 0px;
	float: left
}
.wrapper11 {
	height: 400px;
	background-image: url(img11.jpg);
	padding: 100px;
	margin: 0px;
	float: left;
	font-size: 40px;
	text-align: center;
	color: #ffffe6;
	line-height: 100px;
	font-family: Viga;
}
.boxwrapper {
	background-color: #dedfe2;
	width: 530px;
	height: 60px;
	margin: 15px;
	border-radius: 6px;
	padding: 14px;
	padding-left: 24px;
	color: #232426;
}
.boxwrapper1 {
	background-color: #dedfe2;
	width: 530px;
	height: 300px;
	border-radius: 6px;
	margin: 20px 15px;
	padding: 14px;
	color: #232426;
	line-height: 20px;
	font-family: strong;
	font-size: 20px
}
.boxwrapper2 {
	background-color: #dedfe2;
	width: 520px;
	height: 300px;
	border-radius: 6px;
	color: #232426;
	text-indent: 0px;
	padding: 10px
}
.header {
	background-color: #75726d;
	color: #ffffe6;
	font-size: 50px;
	margin: 35px 0px; 
	font-family: Ultra;
	text-align: center
}
.index {
	height: 600px;
	width: 800px;
	background-color: #75726d;
}
input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 48.8%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.background {
	background-color: #75726d;
	padding: 15px;
	color: #ffffe6;
	font-family: Strong;
	width: 100%;
	text-align: center;
	font-size: 32px
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.text-modal h6{
	max-width: 500px;
	max-height: 500px;
	text-align: right;
	font-family: Viga;
	font-size: 16px;
	text-align: right;
	padding: 11px
}
.border{
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}